<section id="about">
<div class="row">
<div class="three columns">
<img class="profile-pic"  src="{{basepath~'/images/profilepic_'~cvname~'/'~profilepicture}}" alt="" />
</div>
<div class="nine columns main-col">
<h2>{{frontendobj.translatetag(lang,'aboutme.title')}}</h2>
<p>{{aboutme|raw}} </p>
<div class="row">
<div class="columns contact-details">
<h2>{{frontendobj.translatetag(lang,'contactdetails.title')}}</h2>
<p class="address">
{{contactdetails|raw}}
</p>
 </div>
<div class="columns download">
  {% if filename|length > 0 %}
  
 
<p>
<a href="{{basepath~'/files/'~cvname~'_'~lang~'/'~filename}}" class="button" download="{{basepath~'/files/'~cvname~'_'~lang~'/'~filename}}">
 <i class="fa fa-download"></i>{{frontendobj.translatetag(lang,'downloadresume.title')}}
</a>
</p>
{% else %}
    <div><p class ="error">{{'You have to upload a curricullum file for this language'}}</p></div> 
    
{% endif %} 

</div>
</div> <!-- end row -->
</div> <!-- end .main-col -->
</div>
</section> <!-- About Section End-->
