<section id="about">
<div class="row">
<div class="three columns">
<img class="profile-pic"  src="{{basepath~'/images/profilepic2.jpg'}}" alt="" />
</div>
<div class="nine columns main-col">
<h2>{{frontendobj.translatetag(lang,'aboutme.title')}}</h2>
<p>{{aboutme|raw}} </p>
<div class="row">
<div class="columns contact-details">
<h2>{{frontendobj.translatetag(lang,'contactdetails.title')}}</h2>
<p class="address">
{{contactdetails|raw}}
</p>
 </div>
<div class="columns download">
<p>
<a href="{{basepath~'/files/'~lang~'/Curriculum_Andres_Franco_'~lang~'.doc'}}" class="button" download="CV_AndresFranco.doc">
 <i class="fa fa-download"></i>{{frontendobj.translatetag(lang,'downloadresume.title')}}
</a>
</p>
</div>
</div> <!-- end row -->
</div> <!-- end .main-col -->
</div>
</section> <!-- About Section End-->
