<!-- Contact Section
================================================== -->
<section id="contact">

    <div class="row section-head">

        <div class="two columns header-col">

            <h1><span></span></h1>

        </div>

        <div class="ten columns">

            <p class="lead"><h4>{{frontendobj.translatetag(lang,'contacttitle.text')}}</h4>
            </p>

        </div>

    </div>

    <div class="row">

        <div class="eight columns">
            <!-- form -->
            <form action="{{basepath~'/sendemail'}}" method="post" id="contactForm" name="contactForm">
                <fieldset>
                    <div>
                        <label for="contactName">{{frontendobj.translatetag(lang,'Name')}} <span class="required">*</span></label>
                        <input type="text" value="" size="35" id="contactName" name="contactName">
                    </div>

                    <div>
                        <label for="contactEmail">{{frontendobj.translatetag(lang,'Email')}} <span class="required">*</span></label>
                        <input type="text" value="" size="35" id="contactEmail" name="contactEmail">
                    </div>

                    <div>
                        <label for="contactSubject">{{frontendobj.translatetag(lang,'Subject')}}</label>
                        <input type="text" value="" size="35" id="contactSubject" name="contactSubject">
                    </div>

                    <div>
                        <label for="contactMessage">{{frontendobj.translatetag(lang,'Message')}}<span class="required">{{'*'}}</span></label>
                        <textarea cols="50" rows="15" id="contactMessage" name="contactMessage"></textarea>
                    </div>

                    <div>
                        <button class="submit">{{frontendobj.translatetag(lang,'Submit')}}</button>
                     <span id="image-loader">
                        <img alt="" src="images/loader.gif">
                     </span>
                    </div>

                </fieldset>
            </form> <!-- Form End -->

            <!-- contact-warning -->
            <div id="message-warning"></div>
            <!-- contact-success -->
            <div id="message-success">
                <i class="fa fa-check"></i>{{frontendobj.translatetag(lang,'sendmessage.text')}}<br>
            </div>

        </div>


        <aside class="four columns footer-widgets">

            <div class="widget widget_contact">

                <h4>{{frontendobj.translatetag(lang,'contact.sidetitle.text')}}</h4>
                <p class="address">
                   {{contactdetails|raw}}

   
                </p>

            </div>



        </aside>

    </div>

</section> <!-- Contact Section End-->
