<!--- Basic Page Needs
    ================================================== -->
<meta charset="utf-8">
<title>{{webname|raw}}</title>
<meta name="description" content="">
<meta name="author" content="">

<!-- Mobile Specific Metas
================================================== -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- CSS
================================================== -->
<link rel="stylesheet" href="{{basepath~'/css/default.css'}}">
<link rel="stylesheet" href="{{basepath~'/css/layout.css'}}">
<link rel="stylesheet" href="{{basepath~'/css/media-queries.css'}}">
<link rel="stylesheet" href="{{basepath~'/css/magnific-popup.css'}}">

<!-- Script
================================================== -->
<script src="{{basepath~'/js/modernizr.js'}}"></script>

<!-- Favicons
 ==================================================  -->
<link rel="shortcut icon" href="{{basepath~'/images/favicon2.png'}}" >
