<section id="resume">

    <!-- Education
    ----------------------------------------------- -->
    <div class="row education">

        <div class="three columns header-col">
            <h1><span>{{'Education'}}</span></h1>
        </div>

        <div class="nine columns main-col">

           {{frontendobj.geteducation(lang)}} 

        </div> <!-- main-col end -->

    </div> <!-- End Education -->


    <!-- Work
    ----------------------------------------------- -->
    <div class="row work">

        <div class="three columns header-col">
            <h1><span>{{'Work'}}</span></h1>
        </div>

        <div class="nine columns main-col">

            {{frontendobj.getwork(lang)}} 

        </div> <!-- main-col end -->

    </div> <!-- End Work -->


    <!-- Skills
    
    ----------------------------------------------- -->
    <div class="row skill">

        <div class="three columns header-col">
            <h1><span>{{'Skills'}}</span></h1>
        </div>

        <div class="nine columns main-col">

            {{mainskills}}

              {{frontendobj.getskills(lang)}} 
            

        </div> <!-- main-col end -->

    </div> <!-- End skills -->

</section> <!-- Resume Section End-->

