{% extends "Templates/Masterpage/masterbackend.html.twig" %}
{% block breadcrumb %}
<ul class="breadcrumb">
<li><h3>{{'Home'}}</h3></li>
</ul>
{% endblock breadcrumb%}

{% block content %}
<h1>{{'Welcome to CV Maker'}}</h1>
<br><br>
<div class="row-fluid">	
<a href="{{basepath ~'/languages'}}" class="quick-button metro yellow span2">
<i class="fa fa-flag"></i>    
<p>{{'Manage Languages'}}</p>
</a>
<a href="{{basepath ~'/curricullumlist'}}" class="quick-button metro red span2">
<i class="fa fa-file"></i>
<p>{{'Manage Curricullums'}}</p>
</a>
<a href="{{basepath ~'/translations'}}" class="quick-button metro blue span2">
<i class="fa fa-repeat"></i>
<p>{{'Manage Translations'}}</p>
</a>
<a href="{{basepath ~'/educationlist'}}" class="quick-button metro green span2">
<i class="fa fa-book"></i>
<p>{{'Manage Education'}}</p>
</a>
<a href="{{basepath ~'/worklist'}}" class="quick-button metro pink span2">
<i class="fa fa-dashboard"></i>
<p>{{'Manage Work History'}}</p>
</a>
<a href="{{basepath ~'/skills'}}" class="quick-button metro black span2">
<i class="fa fa-list-alt"></i>
<p>{{'Manage Skills'}}</p>
</a>				
</div>
<br><br>
<div class="row-fluid">	
<a href="{{basepath ~'/projects'}}" class="quick-button metro orangeDark span2">
<i class="fa fa-edit"></i>
<p>{{'Manage Projects'}}</p>
</a>
<a class="quick-button metro blueDark span2">
<i class="fa fa-cogs"></i>
<p>{{'System Admin'}}</p>
</a>    

</div>
{% endblock content %}
