<div id="sidebar-left" class="span2">
<div class="nav-collapse sidebar-nav">
<ul class="nav nav-tabs nav-stacked main-menu">
<li><a href="{{basepath ~'/languages'}}"><i class="icon-flag"></i><span class="hidden-tablet"> {{'Languages'}}</span></a></li>
<li><a href="{{basepath ~'/curricullumlist'}}"><i class="icon-file"></i><span class="hidden-tablet"> {{'Curricullum'}}</span></a></li>
<li><a href="{{basepath ~'/translations'}}"><i class="icon-repeat"></i><span class="hidden-tablet"> {{'Translation'}}</span></a></li>
<li><a href="{{basepath ~'/educationlist'}}"><i class="icon-book"></i><span class="hidden-tablet"> {{'Education'}}</span></a></li>
<li><a href="{{basepath ~'/worklist'}}"><i class="icon-dashboard"></i><span class="hidden-tablet">{{'Work'}}</span></a></li>
<li><a href="{{basepath ~'/skills'}}""><i class="icon-list-alt"></i><span class="hidden-tablet"> {{'Skills'}}</span></a></li>
<li><a href="{{basepath ~'/projects'}}"><i class="icon-edit"></i><span class="hidden-tablet"> {{'Projects'}}</span></a></li>
<li><a class="dropmenu" href="#"><i class="icon-cogs"></i><span class="hidden-tablet"> {{'System Admin'}}</span></a>
<ul>
<li><a class="submenu" href="{{basepath ~'/users'}}"><i class="icon-file-alt"></i><span class="hidden-tablet"> {{'Manage Users'}}</span></a></li>
<li><a class="submenu" href="submenu2.html"><i class="icon-file-alt"></i><span class="hidden-tablet"> {{'Manage Roles'}}</span></a></li>
<li><a class="submenu" href="submenu3.html"><i class="icon-file-alt"></i><span class="hidden-tablet">{{'Manage Actions'}}</span></a></li>
<li><a class="submenu" href="{{basepath ~'/sysparams'}}"><i class="icon-file-alt"></i><span class="hidden-tablet">{{'System Parameters'}}</span></a></li>
</ul>	
</li>
</ul>
</div>
</div>


