{% extends "Templates/Masterpage/masteradmin.html.twig" %}
{% block content %}
{% block breadcrumb %}
{{parent()}}
{% endblock breadcrumb%}
<div class="col-sm-offset-2 col-sm-8 deletequestion"><h4>{{'Are you sure you want to delete this Multi Parameter?'}}</h4></div>
<div id="formcontentgrid" class="col-sm-12">
<form id="appform" method="post" action="{{deleteurl}}" class="form-horizontal" role="form">
    <div class="form-group">
            <label class="control-label col-sm-2">{{'System Parameter'}}</label>
            <div class="col-sm-3">
            {{obj.getsysparamselect('class="form-control" Disabled',sysparamid)}}
            </div>
    </div>
        <div class="form-group">
             <label class="control-label col-sm-2">{{'Value'}}</label>
              <div class="col-sm-4">
              <textarea id ="value"  name="value"  rows="3" class="form-control" maxlength="900" Disabled>{{value}}</textarea>
              </div>
              <div class="col-sm-offset-2 col-sm-8">
              <label id ="valueerror" name="valueerror"></label>
              </div>
        </div>
         <div class="form-group">
            
            <label class="control-label col-sm-2">{{'Description'}}</label>
            <div class="col-sm-4"> 
            <input name="valuedesc" type="text" id="valuedesc" maxlength="100" class="form-control" value="{{valuedesc}}" Disabled>
            </div>
        </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-8">
        <input  id="deletebutton" class="btn btn-primary" type="submit" value="Delete"/>
        <a href="{{listurl}}" id ="cancelbutton" class="btn btn-primary cancel">Cancel</a>
        </div>
    </div>
</form>
</div>

{% endblock content%}