{% extends "Templates/Masterpage/masteradmin.html.twig" %}
{% block javascript%} 
{{parent()}}
<script src="{{templatepath ~'/Views/Action/validateaction.js'}}"></script>
{% endblock javascript%} 
{% block content %}
{% block breadcrumb %}
{{parent()}}
{% endblock breadcrumb%}
<label class="col-sm-offset-2 col-sm-8 error">{{errormessage|raw}}</label>
<div id="formcontentgrid" class="col-sm-12">
<form id="appform" method="post" action="{{updateurl}}" class="form-horizontal" action="form">
        <div class="form-group">
            <label class="control-label col-sm-2">{{'Action'}}</label>
            <div class="col-sm-3">
            <input name="action" type="text" id="action" class="form-control" value="{{action|raw}}">
            </div>
         </div>
        <div class="form-group">
             <label class="control-label col-sm-2">{{'Description'}}</label>
              <div class="col-sm-4">
              <input name="description" type="description" id="description" class="form-control" value="{{description|raw}}">
              </div>      
        </div>
        <div class="form-group">
        <div class="col-sm-offset-2 col-sm-8">
        <input  id="savebutton" class="btn btn-primary" type="submit" value="Save"/>
        <a href="{{listurl}}" id ="cancelbutton" class="btn btn-primary cancel">Cancel</a>
        </div>
    </div>
</form>
</div>

{% endblock content%}