{% extends "Templates/Masterpage/masterbackend.html.twig" %}
{% block content %}	
<script src="{{templatepath ~'/Views/Language/validatelanguage.js'}}"></script>
<label class="error">{{ errormessage | raw}}</label><br>
<form id="appform" method="post" action="{{selfurl}}">
    <table>
        <tr>
            <td><label class="control-label">{{'Code'}}</label></td>
            <td><input name="code" type="text" id="code" class="span6 typeahead" value="{{code}}">
       <span class="error"></span></td>
        </tr>
        <tr>
            <td><label class="control-label">{{'Language'}}</label></td>
            <td><input name="language" type="text" id="language" class="span6 typeahead" value="{{language}}"></td>
        </tr>
    </table>
    <br>
    <div class="options btn-group">
        <input  id ="deletebutton" class="btn btn-primary" type="submit" value="Save" />
        <a href="{{listurl}}" id ="cancelbutton" class="cancel">{{'Cancel'}}</a>
    </div>
</form>
{% endblock content %}