{% extends "Templates/Masterpage/masterbackend.html.twig" %}
{% block content %}
<script src="{{templatepath~'/Views/Translation/validatetranslation.js'}}"></script>
<script src="{{templatepath~'/Views/Translation/selectajaxscriptedit.js'}}"></script>
<form id="appform" method="post" action="{{updateurl}}">
    <table>
        <tr>
            <td><label class="control-label">{{'Object Code'}}</label></td>
            <td>{{globalobj.getmultiparambycode('objcode',objectcode,'')}}</td>
        </tr>
        
        <tr>
            <td><label class="control-label">{{'Parent'}}</label></td>
           
            <td>{{db.getparent(globalobj,objectcode,parentid)}}
           </td>

        </tr>
        <tr>
            <td><label class="control-label">{{'Object ID'}}</label></td>
           
           <td>{{db.getobject(globalobj,objectcode,objectid)}}
           </td>

        </tr>
        <tr>
            <td><label class="control-label">{{'Language'}}</label></td>
            <td>{{globalobj.getlanguageselect('',languagecode)}}</td>

        </tr>
        <tr>
           <td><label class="control-label">{{'Field'}}</label></td> 
           <td>{{db.getfields(globalobj,objectcode,field)}}
           </td>

        </tr>
        <tr>
            <td><label class="control-label">{{'Content'}}</label></td>
            <td><textarea id ="content" class="cleditor" name="content" id="mainskills" rows="3" required>{{content|raw}}</textarea></td>

        </tr>

    </table>
    <br>
    <div class="options btn-group">
        <input  id ="deletebutton" class="btn btn-primary" type="submit" value="Save" />
        <a href="{{listurl}}" id ="cancelbutton" class=" btn input-small">{{'Cancel'}}</a>
    </div>
</form>
{% endblock content%}
