{% extends "Templates/Masterpage/masteradmin.html.twig" %}
{% block javascript%} 
{{parent()}}
<script src="{{templatepath~'/js/editor.js'}}"></script>
<script src="{{templatepath~'/Views/Curricullum/textareacurricullum.js'}}"></script>
{% endblock javascript%} 
{% block css%}
{{parent()}}
<link href="{{basepath~'/Backend/css/editor.css'}}" type="text/css" rel="stylesheet"/>
{% endblock css%}
{% block content %}
{% block breadcrumb %}
{{parent()}}
{% endblock breadcrumb%}
<script src="{{templatepath~'/Views/Curricullum/validatecurricullum.js'}}"></script>
<div class="row-fluid">	
<div class="box blue">
<div class="box-header">
    {{'Curricullum options'}}
</div>
<div class="box-content">
   <div class="col-sm-2">
    <a href="{{basepath~'/urllist/'~id}}" class="quick-button blue">
    <i class="fa fa-link"></i>
    <p>{{'Url'}}</p>
    </a>
   </div>      
<div class="clearfix"></div>
</div>	
</div><!--/span-->
</div><!--/row-->
<label class="error">{{errormessage|raw}}</label><br>
<div id="formcontentgrid" class="col-sm-12">
<form id="appform" method="post" action="{{updateurl}}" class="form-horizontal" role="form">
    <div class="form-group">
            <label class="control-label col-sm-2">{{'Name'}}</label>
            <div class="col-sm-8">
            <input id ="name" name="name" type="text" id="language" value="{{name|raw}}" class="col-sm-4">
            </div>
    </div>
        <div class="form-group">
             <label class="control-label col-sm-2">{{'Main Text'}}</label>
              <div class="col-sm-8">
              <textarea id ="maintext" name="maintext" rows="3">{{maintext}}</textarea>
              </div>
              <div class="col-sm-offset-2 col-sm-8">
              <label id ="maintexterror" name="maintexterror"></label>
              </div>
        </div>
         <div class="form-group">
            
            <label class="control-label col-sm-2">{{'About Me'}}</label>
            <div class="col-sm-8"> 
            <textarea id="aboutme" name="aboutme"  rows="3">{{aboutme}}</textarea>
            </div>
            <div class="col-sm-offset-2 col-sm-8">
            <label id ="aboutmeerror" name="aboutmeerror"></label>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">{{'Contact Details'}}</label>
            <div class="col-sm-8"> 
            <textarea  id ="contactdetails" name="contactdetails"  rows="3">{{contactdetails}}</textarea>
            </div>
             <div class="col-sm-offset-2 col-sm-8">
            <label id ="contactdetailserror" name="contactdetailserror"></label>
             </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">{{'Main Skills'}}</label>
            <div class="col-sm-8"> 
            <textarea  id ="mainskills" name="mainskills" rows="3">{{mainskills}}</textarea>
            </div>
             <div class="col-sm-offset-2 col-sm-8">
            <label id ="mainskillserror" name="mainskillserror"></label>
             </div>
        </div>
    <br>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-8">
        <input  id="savebutton" class="btn btn-primary" type="submit" value="Save"/>
        <a href="{{listurl}}" id ="cancelbutton" class="btn btn-primary cancel">Cancel</a>
        </div>
    </div>
</form>
</div>
{% endblock content%}
