{% extends "Templates/Masterpage/masteradmin.html.twig" %}
{% block content %}
<div class="row-fluid">	
<div class="box blue span12">
<div class="box-header">
    {{'Curricullum options'}}
</div>
<div class="box-content">
    <a href="{{basepath~'/urllist/'~id}}" class="quick-button span2">
<i class="icon-link"></i>
<p>{{'Url'}}</p>
</a>
<div class="clearfix"></div>
</div>	
</div><!--/span-->
</div><!--/row-->
<script src="{{templatepath~'/Views/Curricullum/validatecurricullum.js'}}"></script>
<form id="appform" method="post" action="{{updateurl}}">
    <table>  
        <tr>
            <td><label class="control-label">{{'Name'}}</label></td>
            <td><input id ="name" name="name" type="text" id="language" class="span6 typeahead" value="{{name|raw}}"></td>
        </tr>
        <tr>
            <td><label class="control-label">{{'Main Text'}}</label></td>
            <td><textarea class="cleditor" id="maintext" name="maintext" rows="3">{{maintext|raw}}</textarea></td>

        </tr>
        <tr>
            <td><label class="control-label">{{'About Me'}}</label></td>
            <td><textarea class="cleditor" name="aboutme" id="aboutme" rows="3">{{aboutme|raw}}</textarea></td>

        </tr>
        <tr>
            <td><label class="control-label">{{'Contact Details'}}</label></td>
            <td><textarea class="cleditor" name="contactdetails" id="contactdetails" rows="3">{{contactdetails|raw}}</textarea></td>

        </tr>
        <tr>
            <td><label class="control-label">{{'Main Skills'}}</label></td>
            <td><textarea class="cleditor" name="mainskills" id="mainskills" rows="3">{{mainskills|raw}}</textarea></td>

        </tr>


    </table>
    <br>
    <div class="options btn-group">
        <input  id ="deletebutton" class="btn btn-primary" type="submit" value="Save" />
        <a href="{{listurl}}" id ="cancelbutton" class=" btn input-small">{{'Cancel'}}</a>
    </div>
</form>
{% endblock content%}
