{% extends "Templates/Masterpage/masteradmin.html.twig" %}
{% block javascript%} 
{{parent()}}
<script src="{{templatepath~'/Views/Education/validateeducation.js'}}"></script>
{% endblock javascript%} 
{% block content %}
{% block breadcrumb %}
{{parent()}}
{% endblock breadcrumb%}
<label class="col-sm-offset-2 col-sm-8 error">{{errormessage|raw}}</label>
<div id="formcontentgrid" class="col-sm-12">
<form id="appform" method="post" action="{{selfurl}}" class="form-horizontal" role="form">
        <div class="form-group">
            <label class="control-label col-sm-2">{{'Curricullum'}}</label>
            <div class="col-sm-3">
            {{globalobj.getcurricullumlist('class="form-control"',curricullumid)}}
            </div>
         </div>
        <div class="form-group">
             <label class="control-label col-sm-2">{{'Institution'}}</label>
              <div class="col-sm-3">
             <input size="60" id ="institution" name="institution" type="text" id="language" class="form-control" value="{{institution|raw}}">
              </div>      
        </div>
        <div class="form-group">
             <label class="control-label col-sm-2">{{'Degree'}}</label>
              <div class="col-sm-3">
              <input id ="degree" name="degree" type="text" id="language" class="form-control" value="{{degree|raw}}">
              </div>      
        </div> 
        <div class="form-group">
             <label class="control-label col-sm-2">{{'Date'}}</label>
              <div class="col-sm-3">
              <input id ="date" name="date" type="text" id="language" class="form-control" value="{{date|raw}}">
              </div>      
        </div> 
        <div class="form-group">
        <div class="col-sm-offset-2 col-sm-8">
        <input  id="savebutton" class="btn btn-primary" type="submit" value="Save"/>
        <a href="{{listurl}}" id ="cancelbutton" class="btn btn-primary cancel">Cancel</a>
        </div>
    </div>
</form>
</div>

{% endblock content%}
